language: go

go: "1.12.9"

os:
  - linux

sudo: required
dist: trusty

env:
  matrix:
    - HYPERKUBE_VERSION=1.14.6

before_install:
  - sudo apt-get update -qq

install:
  - sudo apt-get install -yqq systemd
  - sudo curl -Lf https://storage.googleapis.com/kubernetes-release/release/v$HYPERKUBE_VERSION/bin/linux/amd64/kubectl -o /usr/local/bin/kubectl
  - sudo chmod +x /usr/local/bin/kubectl
  - sudo curl -Lf https://github.com/DataDog/pupernetes/releases/download/v0.10.0/pupernetes -o /usr/local/bin/pupernetes
  - sudo chmod +x /usr/local/bin/pupernetes

script:
  - sudo /usr/local/bin/pupernetes daemon run sandbox/ --job-type systemd --hyperkube-version $HYPERKUBE_VERSION --kubeconfig-path $HOME/.kube/config --dns-check
  - kubectl get all
  - cp -a $TRAVIS_BUILD_DIR /home/travis/gopath/src/github.com/rook/rook
  - cd /home/travis/gopath/src/github.com/rook/rook/ && make build && _output/tests/linux_amd64/integration -test.v
