# Orb 'banzaicloud/helm@0.0.5' resolved to 'banzaicloud/helm@0.0.5'
version: 2
jobs:
  acceptance-test:
    machine: true
    working_directory: /home/circleci/.go/src/github.com/rook/rook
    environment:
    - DEBIAN_FRONTEND: noninteractive
    - TERM: dumb
    - GO_VERSION: 1.12.9
    - GOPATH: /home/circleci/.go
    - HYPERKUBE_VERSION: v1.14.6
    steps:
    - checkout
    - run:
        name: upgrade GO
        command: |
          go get golang.org/dl/go$GO_VERSION
          cd $GOPATH/bin
          ./go$GO_VERSION download
          ln -s go$GO_VERSION go
          export PATH=${HOME}/.go/bin/:${PATH}
          which go
          go version
    - run:
        name: download
        command: sudo curl -Lf https://github.com/DataDog/pupernetes/releases/download/v0.10.0/pupernetes
          -o /usr/local/bin/pupernetes && sudo chmod +x /usr/local/bin/pupernetes
    - run:
        name: apt
        command: sudo apt-get update -qq && sudo apt-get install -yqq systemd
    - run:
        name: run
        command: sudo /usr/local/bin/pupernetes daemon run sandbox/ --job-type systemd
          --kubectl-link /usr/local/bin/kubectl --kubeconfig-path $HOME/.kube/config
          --dns-check
    - run:
        name: kubectl
        command: kubectl get all
    - run:
        name: Setup helm
        command: |
          curl -L https://git.io/get_helm.sh | bash
          helm init
          helm repo add banzaicloud-stable https://kubernetes-charts.banzaicloud.com/
    - run:
        name: Try Rook
        command: |
          export PATH=${HOME}/.go/bin/:${PATH}
          cd cluster/examples/kubernetes/ceph/
          kubectl create -f common.yaml
          kubectl create -f operator.yaml
          kubectl create -f cluster-test.yaml
          kubectl create -f pool-test.yaml
          kubectl create -f toolbox.yaml
          kubectl create -f filesystem-test.yaml
          kubectl create -f object-test.yaml
          kubectl create -f object-user.yaml
          kubectl create -f csi/rbd/storageclass.yaml
          cd ../
          kubectl create -f mysql.yaml
          kubectl create -f wordpress.yaml
          kubectl get pods
          kubectl get pvc
          sync
          sleep 120
          kubectl describe pvc mysql-pv-claim
    - run:
        name: Build Rook
        command: |
          export PATH=${HOME}/.go/bin/:${PATH}
          make build
    - run:
        name: Rook Integration Tests
        command: |
          export PATH=${HOME}/.go/bin/:${PATH}
          echo 'disabled for now --> _output/tests/linux_amd64/integration -test.v'
workflows:
  version: 2
  ci:
    jobs:
    - acceptance-test
